// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main: #93B5C6;
$secondary: #C9CCD5;
$tertiary: #E4D8DC;
$final: #FFE3E3;
