<div class="container">
  <div id="scandit-barcode-picker">
    <%= form_with url: "/products", class: 'd-none', method: "POST" do |form| %>
      <%= form.label :barcode, "Barcode number:" %>
      <%= form.text_field :barcode, id: 'barcodeInput' %>
      <%= form.submit "Search", id: 'barcodeSubmit' %>
    <% end %>
  </div>
</div>
