<footer id ="footer-stick" class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 pr-4 item-drawer d-inline">
    <button type="button" class="btn btn-dark px-2 hidding1">Retake</button>
    <button type="button" class="btn btn-dark px-2 hidding2">comparing</button>
    <button type="button" class="btn btn-dark px-3 hidding3">Recommend</button>
    <i class="fas fa-chevron-right item-drawer-button"></i>
  </div>


  <!-- Copyright -->
  <script>
  document.querySelector(".item-drawer-button")
    .addEventListener("click", (event) => {
      document.querySelector(".item-drawer").classList.toggle("active");
      document.querySelector(".hidding1").classList.toggle("active")
      document.querySelector(".hidding2").classList.toggle("active")
      document.querySelector(".hidding3").classList.toggle("active")
      document.querySelector(".show-chevron").classList.toggle("active")

    });
  </script>
</footer>
