<footer id ="footer-stick" class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 pr-4 item-drawer">
    <button type="button" class="scanner-start scanner-new btn btn-dark px-2 hidding1" data-toggle="modal" data-target="#camera">scan</button>
    <button type="button" class="scanner-start barcode-compare btn btn-dark px-2 hidding2" data-toggle="modal" data-target="#camera">compare</button>
    <button type="button" class="btn btn-dark px-3 hidding3">Recommend</button>
    <i class="fas fa-chevron-right item-drawer-button"></i>
  </div>
  <!-- Copyright -->
  <script>
    document.querySelector(".item-drawer-button")
      .addEventListener("click", (event) => {
        document.querySelector(".item-drawer").classList.toggle("active");
        document.querySelector(".hidding1").classList.toggle("active")
        document.querySelector(".hidding2").classList.toggle("active")
        document.querySelector(".hidding3").classList.toggle("active")
        document.querySelector(".show-chevron").classList.toggle("active")
    
      });
  </script>
</footer>
<div class="container">
  <% body_content = render 'shared/barcode_scanner', product: @product %>
  <%= render 'shared/modal', modal_id: 'camera', modal_title: 'Show me your barcode!',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
<div class="col-6 row justify-content-center">
  <%= link_to product_path(@product) + "?product_id=#{23}" do %>
    <span class="btn btn-dark flex-grow-1" data-toggle="modal" data-target="#CompareSecond">Compare this product</span>
  <% end %>
</div>
<script>
  document.querySelector('.scanner-new').addEventListener("click", () => {
      document.getElementById("barcodeCompare").checked = false;
    })
    document.querySelector('.barcode-compare').addEventListener("click", () => {
      document.getElementById("barcodeCompare").checked = true;
    })
</script>
