<footer id="footer-barc">
  <div class="d-flex justify-content-center bg-light border-top">
    <div class="d-flex flex-grow-1 overflow-hidden m-0 p-0" style="max-width: 160px;">
      <a id="btn-scn-compare" class="d-flex mx-0 mb-0 px-3 pt-2 flex-column justify-content-around flex-grow-1 scanner-start
      barcode-compare btn bg-light hidding1" data-toggle="modal" data-target="#camera">
        <i class="fas fa-barcode mb-1"></i><span class="footer-text text-center">Scan & Compare</span>
      </a>
    </div>
    <div class="d-flex flex-grow-1 overflow-hidden m-0 p-0" style="max-width: 160px;">
      <a id="btn-scn-single" class="d-flex mx-0 mb-0 px-3 pt-2 flex-column justify-content-around flex-grow-1 scanner-start
      scanner-new btn bg-light hidding2" data-toggle="modal" data-target="#camera">
        <i class="fas fa-camera mb-1"></i><span class="footer-text text-center">Scan</span>
      </a>
    </div>
    <div class="d-flex flex-grow-1 overflow-hidden m-0 p-0" style="max-width: 160px;">
      <a id="btn-scn-multiple" class="d-flex mx-0 mb-0 px-3 pt-2 flex-column justify-content-around flex-grow-1 scanner-start
      barcode-multiple btn bg-light hidding3" data-toggle="modal" data-target="#camera">
        <i class="fas fa-tags mb-1"></i><span class="footer-text text-center">Scan Multiple</span>
      </a>
    </div>
  </div>
</footer>
<div class="container">
  <% body_content = render 'shared/barcode_scanner', product: @product %>
  <%= render 'shared/modal', modal_id: 'camera', modal_title: 'Show me your barcode!',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
