<div class="footer p-3 d-flex flex-column justify-content-center text-center">
  <a href="https://github.com/2tonepantone/barcsnap" target="_blank"><i class="fab fa-github-square h1"></i></a>
  <p>This website powered by <i class="fas fa-mug-hot"></i> <i class="fas fa-mug-hot"></i> <i class="fas fa-mug-hot"></i></p>
</div>
