<div class="banner p-3 d-flex flex-column justify-content-center">
  <!-- Modal -->
  <div class="modal fade" id="takePhoto" tabindex="-1" aria-labelledby="takePhotoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="takePhotoLabel">Scan <i class="fas fa-paw"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% body_content = render 'shared/barcode_scanner' %>
        <%= render 'shared/modal', modal_id: 'camera', modal_title: 'Camera', 
        text_header: "It's time to snap!", text_body: 'Show me your barcode!', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
        <div class="d-flex bd-highlight m-3">
          <a class="btn btn btn-dark flex-grow-1 justify-content-between" data-toggle="modal" data-target="#camera">
            <i class="fas fa-camera"></i> Scan a barcode!
          </a>
          <a href="" class="btn btn-dark ml-3" data-toggle="modal" data-target="#takePhoto">
            <i class="fas fa-file-upload"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container mt-auto">
      <h1>Search for product by taking a picture!</h1>
      <div class="d-flex text-right mt-3">
        <a href="" class="barcode-text btn btn-dark flex-grow-1" data-toggle="modal" data-target="#takePhoto">Barcode Snap!</a>
      </div>
      <div class="text-right">
        <a href="" class="btn btn-dark my-3"><i class="fas fa-search"></i> Explore more</a>
      </div>
    </div>
  </div>
</div>
