<div class="banner p-3 d-flex flex-column justify-content-center">
  <%# Calling and rendering the barcode scanner %>
  <div class="container">
    <h1 class="normal">Get info on a Japanese product by scanning it's barcode!</h1>
    <% body_content = render 'shared/barcode_scanner' %>
    <%= render 'shared/modal', modal_id: 'camera', modal_title: 'Show me your barcode!',
        text_header: '', text_body: '', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
    <p class="barcode-text text-center">Barcode Snap!</a>
    <div class="d-flex bd-highlight m-3">
      <a id="start-scanner" class="btn btn-dark flex-grow-1" data-toggle="modal" data-target="#camera">
        <i class="fas fa-camera"></i> Scan a barcode!
      </a>
    </div>
  </div>
</div>
<!-- Modal -->
<%# The following portion code has been commented out %>
<% if false %>
  <div class="modal fade" id="takePhoto" tabindex="-1" aria-labelledby="takePhotoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="takePhotoLabel">Scan <i class="fas fa-paw"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% body_content = render 'shared/barcode_scanner' %>
        <%= render 'shared/modal', modal_id: 'camera', modal_title: 'Camera',
        text_header: "It's time to snap!", text_body: 'Show me your barcode!', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
        <div class="d-flex bd-highlight m-3">
          <a class="btn btn btn-dark flex-grow-1 justify-content-between" data-toggle="modal" data-target="#camera">
            <i class="fas fa-camera"></i> Scan a barcode!
          </a>
          <a href="" class="btn btn-dark ml-3" data-toggle="modal" data-target="#takePhoto">
            <i class="fas fa-file-upload"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%# Commented out code ends here %>
