<div class="card-category-product ml-2 mr-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bg_img_url %>)">
</div>
<p class="mb-1 ml-2"><%= product_name %></p>
<p class="ml-2"><strong><%= price %></strong></p>
