<div class="card-category-product ml-2 mr-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
</div>
<p class="mb-1 ml-2">The shampoo that bites your hair 58g</p>
<p class="ml-2"><strong>¥50</strong></p>
