<div class="card-category-product mx-1" style="background-image: url(<%= bg_img_url %>)">
</div>
<p class="ml-2 mt-1 mb-0"><%= product_name %></p>
<p class="ml-2 mt-0 mb-1"><strong><%= price %></strong></p>
