<h4 class="ml-3"><strong>Recommended for you</strong></h2>
<div class="cards-product">
  <div class="row">
    <div class="col ml-3 pr-1">
      <div class="card-category-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      </div>
      <p class="mb-1">The shampoo that bites your hair 58g</p>
      <p><strong>짜50</strong></p>

    </div>
    <div class="col mr-3">
      <div class="card-category-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
      <p class="mb-1">The shampoo that bites your hair 58g</p>
      <p><strong>짜50</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col ml-3 pr-1">
      <div class="card-category-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      </div>
      <p class="mb-1">The shampoo that bites your hair 58g</p>
      <p><strong>짜50</strong></p>
    </div>
    <div class="col mr-3">
      <div class="card-category-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      </div>
      <p class="mb-1">The shampoo that bites your hair 58g</p>
      <p><strong>짜50</strong></p>
    </div>
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 pr-4" style="background-color: rgba(0, 0, 0, 0.1);">
    <a href="">click to see more: </a>
  </div>
  <!-- Copyright -->
</footer>


