<div class="cards">
  <div class="card-category">
    <div class="m-4">
      <h2 class="info-style">
        <strong> The shampoo that bites your hair 58g</strong>
        <i class="fas fa-star h5"></i> <span class = "h6"> 4.7 | See Details</span>
      </h2>

      <p class="info-style"><strong>Company name:</strong> Calbee</p>
      <p class="info-style"><strong>info:</strong> Calbe</p>
    </div>
  </div>
</div>
