<div class="card-category-product mx-1 position-relative" style="background-image: url(<%= bg_img_url %>)">
  <p id="badge-rating" class="mx-1 my-1 position-absolute badge badge-pill badge-secondary" style="bottom: 0px; right: 0px;"><%= price %></p>
</div>
<p class="ml-2 my-1"><%= product_name %></p>
