<div class="card-product">
  <img src="https://i.pinimg.com/originals/9f/2a/63/9f2a63d7fcf4f314800dd3f4f40c4a67.png" />
  <div class="card-product-infos">
          <h2 class="mb-1" style="font-size:18px;">
            <strong> Ingredients</strong>
          </h2>
    <p><%= ingredients %></p>
  </div>
</div>
