<% if true %>
<h5 class ="ml-4"><strong>Reviews</strong> <span class="text-muted">233</span></h5>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p>Very awesome product.</p>
  </div>
</div>
<% else %>
<div class="title-card-product">
  <div class="card-product-infos">
    <h5><strong>Reviews</strong> <span class="text-muted">233</span></h5>
  </div>
</div>
<div class="title-card-product2 .bg-secondary">
  <div class="card-product-infos">
    <span style = "font-size: 12px">Remember to keep comments respectful and to follow our <a href="#">Community Guidelines</a></span>
  </div>
</div>

<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="card-product-infos">
    <h2>Kandanai Leenutaphong</h2>
    <p>Very awesome product.</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="card-product-infos">
    <h2>Kandanai Leenutaphong</h2>
    <p>Very awesome product.</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="card-product-infos">
    <h2>Kandanai Leenutaphong</h2>
    <p>Very awesome product.</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="card-product-infos">
    <h2>Kandanai Leenutaphong</h2>
    <p>Very awesome product.</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
  <div class="card-product-infos">
    <h2>Douglas</h2>
    <p>Bad product made me go bald.</p>
  </div>
</div>
<% end %>
