<h5 class ="ml-4"><strong>Reviews</strong> <span class="text-muted">233</span></h5>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p>Very awesome product.</p>
  </div>
</div>
