<div class="title-card-product">
  <div class="card-product-infos">
    <h5><strong>Reviews</strong> <span class="text-muted">233</span></h5>
  </div>
</div>
<div class="title-card-product2 .bg-secondary">
  <div class="card-product-infos">
    <span style = "font-size: 12px">Remember to keep comments respectful and to follow our <a href="#">Community Guidelines</a></span>
  </div>
</div>

<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>

  <div class="card-product-infos">
    <h2>Calbee</h2>
    <p>10 yen</p>
    <p>yesterday</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>
  <div class="card-product-infos">
    <h2>shampoo</h2>
    <p>199 yen</p>
    <p>last week</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>
  <div class="card-product-infos">
    <h2>Shaver</h2>
    <p>100 yen</p>
    <p>3 days ago</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>
  <div class="card-product-infos">
    <h2>Hair gel</h2>
    <p>999 yen</p>
    <p>last week</p>
  </div>
</div>
<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>
  <div class="card-product-infos">
    <h2>Jacabee</h2>
    <p>100 yen</p>
    <p>2 days ago</p>
  </div>
</div>
