<div class="card-product w-100 border-top border-bottom">
  <div class="">
    <img src="<%= img_url %>" class ="rounded p-0 h-100"/>
  </div>
  <div class="card-product-infos">
    <h2><%= product_name %></h2>
    <p><%= price %></p>
    <p><%= scanned_time %></p>
  </div>
</div>
