<div class="card-product">
  <div class="">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class ="rounded p-0"/>
  </div>

  <div class="card-product-infos">
    <h2><%= product_name %></h2>
    <p><%= price %></p>
    <p><%= scanned_time %></p>
  </div>
</div>

