<div class="banner p-3 d-flex flex-column justify-content-center">
  <!-- Modal -->
  <div class="modal fade" id="takePhoto" tabindex="-1" aria-labelledby="takePhotoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="takePhotoLabel">Scan <i class="fas fa-paw"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex bd-highlight m-3">
          <a class="btn btn btn-dark flex-grow-1 justify-content-between" data-toggle="modal" data-target="#takePhoto">
            <i class="fas fa-camera"></i> Scan a barcode!
          </a>
          <a href="" class="btn btn-dark ml-3" data-toggle="modal" data-target="#takePhoto">
            <i class="fas fa-file-upload"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container mt-auto">
      <h1>Search for product by taking a picture!</h1>
      <div class="d-flex text-right mt-3">
        <a href="" class="barcode-text btn btn-dark flex-grow-1" data-toggle="modal" data-target="#takePhoto">Barcode Snap!</a>
      </div>
      <div class="text-right">
        <a href="" class="btn btn-dark my-3"><i class="fas fa-search"></i> Explore more</a>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div>
    <div class="row" style="position: relative;">
      <div class="col-9">
        <h4 class="mb-1">Top rating</h4>
      </div>
      <div class="col">
        <a href="" class="mb-1 text-right mr-3" style="position: absolute; bottom:0; right:0;">More<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="cards-product">
      <div class="overflow-auto">
        <% @top_rating_products.each_slice(2) do |product_row| %>
          <div class="row mx-0">
            <% product_row.each do |product| %>
              <div class="col p-0 m-0">
                <% bg_img_url = product.photo.attached? ? cl_image_path(product.photo.key) : '' %>
                <%= render 'shared/product_card', bg_img_url: bg_img_url, product_name: product.name, price: "¥#{rand(10..60) * 50}" %>
              </div>
            <% end %>
            <% (2 - product_row.count).times do |i| %>
              <div class="col p-0 m-0">
                <div class="card-category-product mx-1 invisible"></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="row" style="position: relative;">
      <div class="col-9">
        <h4 class="mb-1">Loved by the people</i></h4>
    </div>
    <div class="col">
      <a href="" class="mb-1 text-right mr-3" style="position: absolute; bottom:0; right:0;">More<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="cards-product">
    <div class="overflow-auto">
      <% @most_liked_products.each_slice(2) do |product_row| %>
        <div class="row mx-0">
          <% product_row.each do |product| %>
            <div class="col p-0 m-0">
              <% bg_img_url = product.photo.attached? ? cl_image_path(product.photo.key) : '' %>
              <%= render 'shared/product_card', bg_img_url: bg_img_url, product_name: product.name, price: "¥#{rand(10..60) * 50}" %>
            </div>
          <% end %>
          <% (2 - product_row.count).times do |i| %>
            <div class="col p-0 m-0">
              <div class="card-category-product mx-1 invisible"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
