<h1 class='text-dark'>Most tagged categories.</h1>
<% most_tags = ActsAsTaggableOn::Tag.most_used(50) %>
<% most_tags.each do |tag| %>
  <h2 class='text-dark mt-3'><%= "#{tag.name} (#{tag.taggings_count})" %></h2>
  <% Product.tagged_with(tag.name).each do |product| %>
    <%= link_to product do %>
      <%= cl_image_tag(product.photo.key, class:'img-thumbnail', style:'width:100px; height:100px;') if product.photo.attached? %>
      <%= image_tag("default-product.jpg", class:'img-thumbnail', style:'width:100px; height:100px;') unless product.photo.attached? %>
    <% end %>
  <% end %>
<% end %>
