#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left:5px;
  table-layout: fixed;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: grey;
  color: white;
}

.compare-table {
  background-color: white;
  border-radius: 10px;
  border: 10px solid rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  font-size: .8rem;
}

.highlight {
  background-color: yellow;
}
