.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
    list-style-type: none;
}

.dropdown-menu > a {
  text-decoration: none;
}
.dropdown-menu > a > p:hover {
  color: #607D8B;
}

.dropdown-menu > a > p:active {
  background-color: #203d69;
}

#google_translate_element {
  position: absolute;
  right: 0;
  margin: 2px 4px;
}
