.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

#navbar-barc {
  position: absolute;
  bottom: 0;
  position: sticky;
  // background-color: $faded-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li {
    list-style-type: none;
}

.dropdown-menu > a > p:hover {
  color: $light-blue-grey;
}

.dropdown-menu > a > p:active {
  background-color:  $dark-blue-grey;
}

.dropdown-menu > a {
  text-decoration: none;
  &:hover {
    color: $light-blue-grey;
  }
  &:active {
    color: $cream-white;
    background-color: $dark-blue-grey;
  }
}
.dropdown-menu > a > span:hover, .dropdown-menu > a > p:hover {
  color: $light-blue-grey;
}

.dropdown-menu > a > span:active, .dropdown-menu > a > p:active {
  color: $cream-white;
  background-color: $dark-blue-grey;
}
